/*generic start*/
body {
  background: #fafafa;
  margin: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
strong {
  color: #37474f;
}
a {
  color: tomato;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  color: #888;
}
h1 {
  margin-top: 0 !important;
}
.bold {
  font-weight: 700;
}
.teal-button {
  background-color: tomato;
  display: inline-block;
  color: white;
  font-weight: bold;
  width: 7rem;
  text-align: center;
  text-transform: capitalize !important;
}
.teal-button:hover {
  background-color: #ce5742;
  color: white;
}
.full-width {
  display: flex;
  width: 100%;
}
.white {
  background: white;
}
.grey {
  background: #fafafa;
}
.dark {
  background: #4f6080;
}
.right {
  text-align: right;
}
.italic {
  font-style: italic;
}
.vertical-padding {
  padding: 50px 0;
}
/*generic end*/

/*layout start*/
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}
.cat-buttons {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}

.header {
  background: white;
  padding-bottom: 16px;
  padding-top: 16px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
.header .logo {
  width: 360px;
}
.header .links {
  display: flex;
}
.header a {
  color: #37474f;
  padding-left: 12px;
}
.header a:hover {
  color: 'tomato';
}
.header .pipe {
  padding-left: 12px;
}
.footer {
  color: #ccc;
  display: inline-block;
  height: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-links {
  list-style: none;
}
.footer-links li a {
  color: #ccc;
}
/*layout end*/

/*homepage*/
.homepage-slideshow-wrapper {
  background: white;
}
.rslides.homepage-slideshow li {
  align-items: center;
  display: flex !important;
  justify-content: center;
  width: 100% !important;
}
.rslides.homepage-slideshow img {
  height: auto;
  width: 300px;
}
.homepage-text {
  margin: 1rem 0;
}
.homepage-top-text-wrapper {
  margin-top: 40px;
  width: 45%;
}
.homepage-top-content-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 30px;
}
.example-workout-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27%;
  background: white;
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px #ccc;
  text-align: center;
}
.example-workouts-list-wrapper {
  list-style: none;
  margin-left: -70px;
}
.example-workouts-list-wrapper li {
  color: #888;
  font-size: 1.1rem;
}
.example-workouts-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
/*homepage*/

/*MOBILE*/
@media only screen and (max-width: 768px) {
  .header .logo {
    width: 300px;
  }
  .homepage-slideshow-wrapper {
    display: none;
  }
  .container {
    width: auto;
  }
  .homepage-top-text-wrapper {
    width: 100%;
  }
  .example-workouts-wrapper {
    flex-direction: column;
  }
  .example-workout-wrapper {
    margin-bottom: 1rem;
    width: 90%;
  }
}

/*temporary*/
.hide {
  display: none;
}
