<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.9.43/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/assets/js/responsiveslides.min.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/responsive_slides.css" />
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div class="header">
      <div class="header-wrapper">
        <a href="/">
          <img class="logo" src="/assets/images/header.png" />
        </a>
        <div class="links">
          <a
            class="bold"
            href="https://apps.apple.com/us/app/bodyweight-workouts-daily/id1505676494?ls=1"
            >iOS</a
          >
          <a class="bold hide" href="">Android</a>
        </div>
      </div>
    </div>
    <div class="{{page.body_class}}">
      {{ content }}
    </div>
    <div class="full-width dark">
      <div class="footer container">
        <div class="mui-row">
          <div class="mui-col-md-4"></div>
          <div class="mui-col-md-4 right">
            <ul class="footer-links">
              <li class="hide"><a href="">iOS</a></li>
              <li class="hide"><a href="">Android</a></li>
              <li><a href="mailto:support@yogiref.com">Contact</a></li>
              <li><a href="/privacy">Privacy</a></li>
            </ul>
          </div>
          <div class="mui-col-md-4 right">
            © Sesher Inc 2020
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
